:root {
  --primary: #0F172A;
  --secondary: #EAB308;
  --background: #F8FAFC;
  --foreground: #0F172A;
  --muted: #F1F5F9;
  
  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar for Verticals horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container-lg {
  width: 92%;
}